<%= form_for current_user.faves.new do |f| %>
  <h4>
    Add new favorite
  </h4>
  <div >
    <%= f.label :url, '' %>
    <%= f.text_field :url,class:'input-xlarge',placeholder:'Enter url here' %>

    <%= f.label :description, 'Description' %>
    <%= f.text_area :description,size:"5x5" %>
    <br />

    <%= f.submit "Add", :class => "btn btn-primary" %>
  </div>
<% end %>
