<% content_for(:title,'Edit favorite') %>
<div class="row span9">

  <h4><%= yield(:title) %></h4>
  <div class="line"> </div>
  <%= form_for @fave do |f| %>

    <%= f.label :page_title %>
    <%= f.text_field :page_title %>
    
    <%= f.label :description, '' %>
    <%= f.text_area :description,size:'5x5',placeholder:'Describe it' %>

    <br />
    <%= f.submit "Update",class:'btn btn-large btn-primary' %>
  <% end %>
</div>
