<div class="row span9">
  <div class="page-header">
    <h3>List of favorites</h3>  
  </div>

  <% if @user_faves.empty? %>
    <div class="alert alert-info">
      You dont have any favorites yet.
    </div>
  <% else %>
	  <%= will_paginate @user_faves %>
    <table class="table " border="0">
      <thead>
        <th>Item</th>
        <th width="95px">Added</th>
        <th width='85px'>Action</th>
      </thead>
      <tbody>
        <% @user_faves.each do |fave| %>
          <tr>
            <td class='fav-link'>
              <%= link_to truncate(fave.page_title,length:90), fave.url, target: "_blank" %>
              <br />
              <p class="muted fav-desc">
              <%= truncate fave.description,length:100 %>
              </p>
            </td>
			<td><%= fave.created_at.strftime("#{fave.created_at.day.ordinalize} %b, %Y ")  %></td>
            <td>
				<%= link_to "Edit", edit_fave_path(fave), class:'btn btn-mini',style:'margin-right:5px;' %><%= link_to "Delete", fave_path(fave),method: :delete,class:'btn btn-mini',data:{confirm:"Sure ?"} %>
			</td>
          </tr>
        <% end %>
      </tbody>
    </table>
	  <%= will_paginate @user_faves %>
  <% end %>
  <div class="well well-small">
    <%= render 'form' %>
  </div>
</div>
