<div class="row span9">
  <div class="page-header">
    <h3>List of favorites</h3>  
  </div>

  <% if @user_faves.empty? %>
    <div class="alert alert-info">
      You dont have any favorites yet.
    </div>
  <% else %>
    <table class="table table-striped" border="0">
      <thead>
        <th>Item</th>
        <th>Added</th>
        <th width='85px'>Action</th>
      </thead>
      <tbody>
        <% @user_faves.each do |fave| %>
          <tr>
            <td>
              <%= link_to truncate(fave.page_title,length:100), fave.url, target: "_blank" %>
              <br />
              <p class="muted">
              <%= truncate fave.description,length:200 %>
              </p>
            </td>
            <td><%= fave.created_at  %></td>
            <td>
              <%= link_to "Edit", edit_fave_path(fave), class:'btn btn-mini',style:'margin-right:5px;' %><%= link_to "Delete", fave_path(fave),method: :delete,class:'btn btn-mini' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <div class="well well-small">
    <%= render 'form' %>
  </div>
</div>
