<div class="page-header">
  <h3>List of favorites</h3>  
</div>
<% if current_user.faves.empty? %>
  <div class="alert alert-info">
    You dont have any favorites yet.
  </div>
<% else %>
  <table class="table table-striped" border="0">
    <thead>
      <th>Item</th>
      <th>Added</th>
      <th width='85px'>Action</th>
    </thead>
    <tbody>
      <% @current_user.faves.each do |fave| %>
        <tr>
          <td>
            <%= link_to fave.page_title, fave.url, target: "_blank" %>
            <br />
            <p class="muted">
            <%= truncate fave.description,length:200 %>
            </p>
          </td>
          <td><%= fave.created_at.strftime("%m/%d/%y")  %></td>
          <td><%= link_to "Edit", '#',class:'btn btn-mini',style:'margin-right:5px;' %><%= link_to "Delete", '#',class:'btn btn-mini' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<div class="well well-small">
  <%= render "form" %>
</div>
